# BEFORE USING
# rename this file to .env and fill in the values for JIRA_EMAIL 
# and JIRA_API_TOKEN with your Jira account email and API token 
# respectively. The PORT variable can be changed if you want 
# the server to run on a different port.

# Configuración de Jira API
JIRA_EMAIL=YOUR.EMAIL@blablablablabla.com
JIRA_API_TOKEN=YOUR_TOKEN_asfausbfiuabfafhbvjkbflkjvbjkshdbvopahbdvapbca

# Puerto del servidor
PORT=3000

